*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
    margin: 0px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: black;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.iniciar_sesion{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

button{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 7px 11px;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease-out;
}
button:hover{
    transition: 0.3s ease-in;
    transform: scale(1.1,1.1);
    background-color: yellow;
    color: black;
}

.container {
    display: grid;
    width: 100%;
    /* Este cambio asegura que el contenedor ocupe el espacio disponible pero no se colapse */
    grid-template-columns: repeat(3, 1fr); /* Establece 4 columnas iguales */
    grid-template-rows: repeat(auto-fill, 200px); /* Fija una altura para las filas (ajustar según lo que necesites) */
    gap: 20px; /* Espaciado entre las tarjetas */
    padding: 10px;
}

.card{
    display: inline-block;
    border: 2px solid white;
}
