@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors,(
    "verdeBase": #26A66A,
    "fondoGray": #262626
));

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");

.ff-principal {
  font-family: "Inter", serif;
}

.ff-secundario {
  font-family: "Righteous", serif;
}

.ff-monospace {
  font-family: 'Courier New', Courier, monospace;
}

@import "../../node_modules/bootstrap/scss/bootstrap";