<!-- OJO: .ejs es un sistema de plantillas como .blade en Laravel -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- con esto nos traemos bootstrap de una forma mas facil y rapida, pero
    por lo general se hace su instalacion personalizada -->
    <!-- un cdn es un servidor de contenido -->
    <!-- los archivos min estan comprimidos para no ocupar mucho espacio y evitar tiempo de carga -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
    <title>Document</title>
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-dark">
      <a href="" class="navbar-brand">Ejemplo mysql y crud</a>
    </nav>