<ifmodule mod_rewrite.c>
#activar rewrite
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^{.*}/{.*} index.php?controller=$1&action=$2

</ifmodule>